html {
  font-size: 16px;
  color: #58595b;
}

li, h1, h3, h5 {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.2;
  font-weight: 600;
}

p, h2, h4, h6, form, input, textarea, label, button, span {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.75rem;
}

h6 {
  font-size: 1.25rem;
}

/* Header */

header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

header div {
  background-color: #808184;
  padding: 1rem 4.5rem;
  display: flex;
  align-items: center;
}

header div img {
  width: 7.5rem;
}

nav {
  padding-left: 2rem;
}

nav li {
  padding: 0 1rem;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #FFF;
  font-size: 1rem;
  letter-spacing: .1rem;
}

nav a:hover {
  color: #47e2da;
}

.social {
  text-align: right;
  display: inline-block;
}

.social img {
  width: 1.5rem;
  padding: 0 .25rem;
}

/* #6d6e70; #d0d2d3; #e6e7e8; */

/* Content Offset */

#offset {
  position: relative;
  top: 7.25rem;
}

/* Slideshow */

#slideshow_header {
  position: relative;
  height: 42rem;
}

.slide {
  position: static;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 42rem;
  opacity: 0;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

#sh_1 {
  background-image: url("../images/slideshow_1.jpg");
}

#sh_2 {
  background-image: url("../images/slideshow_2.jpg");
}

/* About */

#about {
  padding: 4rem 4.5rem;
  background-color: #808184;
}

#about h1 {
  color: #FFF;
}

#about p {
  padding-top: 1rem;
  max-width: 100ch;
  color: #FFF;
}

/* Services d0d2d3 */

#service {
  padding: 4rem 4.5rem;
  background-color: #DDD;
}

#services {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  width: 28%;
  padding: 1rem;
}

.service img {
  width: 100%;
}

.service h4 {
  padding: 1rem 0;
}

/* Clients */

#clients {
  padding: 4rem 4.5rem;
  background-color: #FFF;
}

#client_logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 4rem;
}

.client {
  width: 18%;
  padding: 1rem 0;
}

/* Contact */

/*
#contact {
  padding: 4rem 4.5rem;
  background-color: #d0d2d3;
}

#contact_form {
  padding: 2rem 6rem;
  width: 35rem;
}

#contact_form div {
  padding: .5rem 0;
}

#contact_form label {
  padding-bottom: 1rem;
}

input, textarea, button {
  font-size: 1.25rem;
  width: 35rem;
  border: 0;
  padding: .5rem;
  margin-top: .5rem;
  background-color: #e6e7e8;
  border-radius: 6px;
}

button {
  width: 46rem;
  transition: background-color 500ms, color 250ms;
}

textarea {
  height: 12rem;
  width: 45rem;
}

button:hover {
  background-color: #929497;
  color: #fff;
} */

/* Contact Info */

#contact_info {
  background-color: #808184;
  color: #fff;
  display: flex;
  align-items: center;
}

#contact_text {
  padding: 4rem 4.5rem;
}

#contact_text h4 {
  padding-bottom: 2rem;
}

#contact_text a {
  text-decoration: none;
  color: #fff;
}

#contact_text a:hover {
  color: #47e2da;
}

#contact_map {
  height: 400px;
  background-image: url("../images/map_location.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 70%;
  margin: 2rem 2rem 2rem 0;
  border-radius: 6px;
}

/* Footer */

footer {
  height: 1.5rem;
  padding: 1rem 4.5rem;
  line-height: 1.5;
  background-color: #d0d2d3;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: #6EC5B4;
}

footer span, footer a {
  color: #4D4D4D;
  font-size: .75rem;
}
